/**
 * @author Ikaros Kappler
 * @date 2014-03-19
 **/

body {
    font-family:         Monospace;
    font-size:           10pt;
    background-color:    #f8f8f8;
/* background-image: url('img/depositphotos_1692651-Blueprint_0.6.jpg'); */
}

h3 {
    margin-bottom:       0px;
    margin-top:          0px;
}

input {
    font-family:         Monospace;
}

table { 
    border-spacing:      0;
    border-collapse:     collapse;
}

td { 
    padding-left:        0px;
    padding-right:       0px; 
}

canvas#preview_canvas { 
    position:            absolute; 
    top:                 40px;
    left:                10px; 
    width:               512px; 
    height:              768px; 
    border:              1px solid #000000;
    background-color:    #FFFFFF;
}

canvas#bezier_canvas {
    position:            absolute;
    top:                 40px;
    left:                532px;
    width:               512px;
    height:              768px;
    border:              1px solid #000000;
}

div#register_head {
    position:            absolute;
    top:                 21px;
    left:                1054px;
    width:               400px;
    height:              16px;
    border:              0px solid #000000;
    padding:             0px;
    background-color:    #ffffff;
}

div.register_card {
    position: absolute;
    top: 40px;
    left: 1054px;
    width: 400px;
    height: 380px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #ffffff;
    background-image: url('bg_controls.png');
    background-position: 0 0;
    background-size: 420px 400px;
}

.register_tab_selected {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 24px;
    padding: 2px;
    color: #000000;
    background-color: #b0b0b0;
    cursor: normal;
}

.register_tab {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 24px;
    padding: 2px;
    color: #000000;
    background-color: #e8e8e8;
    cursor: pointer;
}

.tooltip {
    display: inline;
    position: relative;
    font-size: 10pt;
 }

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-size: 10pt;
}

tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    font-size: 10pt;
}

#version_tag {
    position:   absolute;
    top:        30px;
    left:       10px;
    width:      512px;
    text-align: right;
    font-size:  7pt;

}

#beta_tag {
    position:   absolute;
    top:        18px;
    left:       522px;
    width:      512px;
    text-align: center;
    font-size:  7pt;

}

#license {
    position:   absolute;
    top:        760px;
    left:       1154px;
}

/* The menu bar style */
#menu_bar {
    position:   absolute;
    left:       10px;
    top:        10px;
}

.open_file_menu_div {
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 220px; 
    height: 30px; 
    cursor: pointer;
}

.open_file_menu_input {
    position: relative; 
    width: 220px; 
    height: 30px; 
    top: -30px; 
    left: 0px; 
    opacity: 0; 
    filter: alpha(opacity=0); 

}



div#informational {
    position:            absolute;
    top:                 460px;
    left:                1054px;
    width:               400px;
    height:              100px;
    /* border:              1px solid #000000; */
    padding:             10px;
    background-color:    #ffffff;
    /* background-image:    url('bg_controls.png'); */
    background-position: 0 0;
    background-size:     420px 400px;

    font-size:           7pt;
}

td.color_cell {
    width:               20px; 
    height:              20px; 
    padding:             2px;
}

div.color_picker {
    width:               20px; 
    height:              20px; 
    cursor:              pointer;
}

comment {
    font-size:           7pt;
    color:               #888888;
}